@charset "utf-8";

header {
	position: fixed;
	top: 50%;
	/* top: calc(50% - 90px); */
	margin-top: -90px;
	right: 10px;
	/* border: 1px solid #000; */
}

header > nav > .gnb > li {
	width: 80px;
}

header > nav > .gnb > li > a {
	display: block;
	height: 30px;
	line-height: 30px;
}

header > nav > .gnb > li:hover > a,
header > nav > .gnb > li.on > a {
	color: white;
	font-family: 600;
}

section {
	height: 700px;
	font-size: 150px;
	line-height: 700px;
	text-align: center;
}

section:nth-of-type(odd) {
	background-color: skyblue;
}
section:nth-of-type(even) {
	background-color: pink;
}

section:nth-child(1) {
	height: 800px;
}
section:nth-child(2) {
	height: 650px;
}
section:nth-child(3) {
	height: 700px;
}
section:nth-child(4) {
	height: 900px;
}
section:nth-child(5) {
	height: 700px;
}
section:nth-child(6) {
	height: 800px;
}

footer > address {
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: #eee;
}
